[buildout]
newest = false
parts = pylons
develop = src
eggs-directory = eggs
download-cache = downloads
extends-cache = extends
extensions = 
	buildout.bootstrap

[pylons]
recipe = zc.recipe.egg
eggs =
    nose
    markupsafe
    PasteScript
    Pylons
    SQLAlchemy
	pysqlite
    FormAlchemy
    pysencha
